.details__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.details {
    width: 30%;
    margin-right: 2%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000000;
}
.details__title {
    margin-bottom: 35px;
}
.total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.details__label,
.details__amount,
.details__price {
    flex: 1;
    width: 10%;
}
