.add-items__item {

}
.add-items__description,
.add-items__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.add-items {
    width: 67%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000000;
}
.add-items__title {
    margin-bottom: 35px;
}
.add-items__wrapper {
    justify-content: space-between;
}
.add-items__item {
    cursor: pointer;
    width: 49%;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000000;
}